html, body {
    height: 100%;
}

.main-wrap {
    min-height: 100%;
    min-width: $min-width;

    @extend %clear-fix;

    &:after {
        height: $footer-height;
    }
}

.layout {
    position: relative;
    min-width: $min-width;
    max-width: $max-width;
    margin: auto;
}